@CHARSET "ISO-8859-1";
.status {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 14px;
	color: #003366;
	padding-left:15px;
}

.statusText {
	background:#FFFFFF;
	font-family: times, serif;
	font-weight: normal;
	font-size: 18px;
	color:  #B0E0E6;
}

.errorBody {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 13px;
	color: #FF0000;
}

.menuText {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
	color: #336699;
}
.text-special {
	vertical-align: 2;
	font-size: 12px;
}

.submenuText {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 13px;
}
.submenuInputText {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 11px;
}
.specialmenuText {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 11px;
	color: #333333;
	margin-left: 2px;
}

.inputText {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 12px;
	background: #FFFFCC;
}

.pcheckbox {
	background: #669999;
	width: 15px;
	height: 15px;
}

.pmcheckbox {
	border: 1px solid #FFFFCC;
	width: 15px;
	height: 15px;
	margin-left: 12px;
}
.groupbox {
	margin-left:25px;
	width: 320px;	
	height:95px;
}
.groupbox_der {
	margin-left:25px;
	width: 440px;	
	height:95px;
}
.groupbox_ts {
	margin-left:25px;
	margin-top:10px;
	width: 380px;	
	height:100px;
}
.groupbox_fs {
	margin-left:10px;
	margin-top:10px;
	width: 200px;	
	height:65px;
}
.groupbox_tss {
	margin-left:25px;
	margin-top:10px;
	width: 380px;	
	height:65px;
}
.groupbox_ingestOpts {
	margin-left:25px;
	margin-top:10px;
	width: 380px;	
	height:87px;
}
.groupbox_ftype {
	margin-left:20px;
	width: 60px;	
	height:80px;
}
.groupbox_cdl {
	margin-left:25px;
	width: 250px;	
	height:90px;
}
.groupbox_cdlOptions {
	margin-left:25px;
	width: 250px;	
	height:75px;
}
.groupbox_rdf {
	margin-left:25px;
	width: 250px;	
	height:45px;
}
.groupbox_sip {
	margin-left:45px;
	margin-bottom:10px;
	width: 450px;	
	height:118px;
	text-align:left;
}

.groupbox_ark {
	margin-left:15px;
	margin-bottom:5px;
	width: 460px;	
	height:280px;
	text-align:left;
}
.groupbox_jetlOptions {
	margin-left:10px;
	margin-bottom:2px;
	width: 360px;	
	height:18px;
	text-align:left;
}
.groupbox_srb {
	margin-left:25px;
	width: 400px;	
	height:80px;
}
.groupbox_compOrder {
	margin-left:35px;
	width: 410px;	
	height:90px;
}
.slegandText{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #333333;
}

.errorText {
	font-weight: bold;
	font-size: 13px;
	color: #FF0000;
}
.section {
	width: 800px;
	height: 400px;
}
.requiredLabel {
	color: #FF0000;
}
.percentageText {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
	color: #006699;
}
.label {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
}
.sectionHeaderBackground {
	background:#BDBDBD;
}
.sectionBackground {
	background:#F8F8F8;
}
.statusText {
	font-weight: bold;
	font-size: 13px;
	color: #FF0000;
}
.errorText {
	font-weight: bold;
	font-size: 13px;
	color: #FF0000;
}
.requiredLabel {
	color: #FF0000;
}
.rowlight {
	background:#F8F8F8;
	color: #333333;
	font-size: 10px;
}
.rowdark {
	background:#D8D8D8;
	color: #333333;
	font-size: 10px;
}
.theader {
	background:#BDBDBD;
	color: #F8F8F8;
}
#stsDiv {
	padding-left:20px;
	padding-top:2px;
	padding-bottom:2px;
	background:#D8D8D8;
}