a {color: #336699;}
.padding {
	padding-right: 5px;
	font-weight: normal;
}
#controlpanel{
	padding-top:30px;
	width:650px;
	overflow:auto;
}
.paneltitle{
	background:#999;
	height:20px;
	color:#EEEEEE;
	text-align:center;
	font-size:18px;
	padding-top:4px;
	padding-bottom:6px;
}
.panelbody{
	background:#F8F8F8;
	border-left:1px solid #999;
	border-right:1px solid #999;
	border-bottom:1px solid #999;
	padding-bottom:20px;
	min-height:350px;
	overflow:auto;
}
.panelbutton{
	padding-top:2px;
	padding-left:8px;
	padding-right:8px;
	padding-bottom:5px;
	background:#BDBDBD;
	font-size:13px;
	font-weight:bold;
	cursor:pointer;
	height:25px;
	vertical-align:bottom;
	color:#666666;
}
.apanelbutton{
	padding-top:2px;
	padding-left:8px;
	padding-right:8px;
	padding-bottom:5px;
	background:#DDDDDD;
	font-size:13px;
	font-weight:bold;
	cursor:pointer;
	height:25px;
	vertical-align:bottom;
	color:#666666;
}
.panelbar{
	padding-top:6px;
	vertical-align:bottom;
	height:21px;
	background:#BDBDBD;
	border-top: 1px solid #D0D0D0;
	border-left: 1px solid #999;
	border-right: 1px solid #999;
}
#collectionDiv{
	text-align: left;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 20px;
	height: 25px;
	background:#BDBDBD;
	border-top: 1px solid #999;
	border-left: 1px solid #999;
	border-right: 1px solid #999;
}
.processlayout{
	padding-top:10px;
	text-align:left;
	padding-left:40px;
}
.bobytext{
	font-size: 16px;
	padding-left: 100px;
	padding-right: 30px;
	padding-top: 30px;
	color: #333333;
}
.dtext{
	font-size: 16px;
	padding-left: 100px;
	padding-right: 30px;
	padding-top: 30px;
	color: #333333;
	text-align: left;
}
#submitDiv{
	padding-top:20px;
	height:30px;
	text-align:center;
}
#formDiv{
	margin-top:10px;
	text-align:center;
	border:1px solid #999;
	background:#F8F8F8;
	width:680px;
	min-height:500px;
	overflow:auto;
}
#messageDiv {
	padding-bottom:15px;
	padding-top:10px;
	padding-left:100px;
	width:760px;
	color: #FF0000;
}

#statusBarDiv{
	text-align:center;
	height:50px;
	padding-top:30px;
	padding-left:15px;
	overflow:auto;
}
.emBox {
	text-align:center;
	background:#F8F8F8;
	padding-bottom:50px;
	border: 1px solid #999;
	width:650px;
	min-height:300px;
	overflow:auto;
}
.emBox_status {
	text-align:center;
	background:#F8F8F8;
	padding-bottom:50px;
	border: 1px solid #999;
	width:650px;
	min-height:220px;
	margin-top:50px;
	margin-bottom:50px;
	overflow:auto;
}
.emBox_upload {
	text-align:center;
	background:#F8F8F8;
	padding-bottom:30px;
	width:650px;
	min-height:340px;
	overflow:auto;
}
.emBox_ark {
	text-align:center;
	background:#F8F8F8;
	padding-bottom:30px;
	margin-top:10px;
	border: 1px solid #999;
	width:650px;
	overflow:auto;
}
.emBoxBanner{
	padding-top:5px;
	height:25px;
	background: #999;
	color:#f8f8f8;
	font-size:15px;
	font-weight:bold;
}

.emBoxLabelDiv {
	text-align:left;
	padding-left:100px;
	padding-top: 30px;
	color:#999999;
	font-size:16px;
}
.fileInputDiv {
	text-align:left;
	padding-left:100px;
	padding-top: 20px;
	color:#999999;
	font-size:16px;
}
.buttonDiv {
	padding-top:40px;
	text-align:center;
	height:40px;
}
.logoutButton {  
	margin-top: 6px; 
	padding-right: 10px;
	font-size: 11px;
	font-weight: bold;
	cursor: pointer;
	color:#336699;
	display:none;
}
.location{
	margin-top: 4px;
	padding-left: 5px;
	font-weight: normal;
	font-size:12px;
	color:#404040;
	display:table-cell;
	vertical-align:bottom;
}
.location a{
	color:#1388cd;
	text-decoration:none;
	margin-right:7px;
	background:url("../images/sprite.gif") right -950px no-repeat;
}
.title{
	padding-top:30px;
	text-align:center;
	color:#336699;
	font-size:16px;
	font-weight:bold;
}
#main .main-title {
	font-size:18px;
	font-weight:bold;
	color:#606060;
	margin-bottom:10px;
	margin-top:10px;
}
#searchButton{
	cursor:pointer;
	text-decoration:none;
	width:40px;
	background:url("../images/sprite.gif") 0 -900px no-repeat;
}
.legend{
	color:#555;
	font-size:14px;
	font-weight:bold;
}
.resultText{
	color:#555;
	font-size:14px;
	text-align:left;
}
.resetButton{
	color:#fff;
	cursor:pointer;
	text-decoration:none;
	width:50px;
	font-size:12px;
	font-weight:bold; 
	font-family:Verdana,Helvetica,sans-serif;
	background-color:#6e6e6e;
	border:2px outset #fff;
}

.status {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 14px;
	color: #003366;
	padding-left:15px;
}

.statusText {
	background:#FFFFFF;
	font-family: times, serif;
	font-weight: normal;
	font-size: 18px;
	color:  #B0E0E6;
}
.menuText {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
	color: #336699;
}
.text-special {
	vertical-align: 3px;
	font-size: 12px;
}

.submenuText {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 13px;
	color: #555555;
}
.submenuInputText {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 11px;
}
.specialmenuText {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 11px;
	color: #333333;
	margin-left: 2px;
}

.inputText {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 12px;
	background: #FFFFCC;
}

.pcheckbox {
	background: #ccc;
	width: 15px;
	height: 15px;
}

.pmcheckbox {
	border: 1px solid #FFFFCC;
	width: 15px;
	height: 15px;
	margin-left: 22px;
}
.groupbox {
	margin-left:25px;
	width: 300px;	
}
.groupbox_der {
	margin-left:25px;
	width: 440px;	
}
.groupbox_ts {
	margin-left:25px;
	margin-top:10px;
	width: 380px;	
}
.groupbox_fs {
	margin-left:10px;
	margin-top:10px;
	width: 300px;	
}
.groupbox_tss {
	margin-left:25px;
	margin-top:10px;
	width: 380px;	
}
.groupbox_ingestOpts {
	margin-left:25px;
	margin-top:10px;
	width: 380px;	
}
.groupbox_ftype {
	margin-left:20px;
	width: 60px;	
}
.groupbox_cdl {
	margin-left:25px;
	width: 300px;	
}
.groupbox_cdlOptions {
	margin-left:25px;
	width: 300px;	
}
.groupbox_rdf {
	margin-left:25px;
	width: 300px;	
}
.groupbox_sip {
	margin-left:45px;
	margin-bottom:10px;
	width: 460px;	
	text-align:left;
}

.groupbox_ark {
	margin-left:15px;
	margin-bottom:5px;
	width:460px;	
	text-align:left;
}
.groupbox_jetlOptions {
	margin-left:10px;
	margin-bottom:2px;
	width: 450px;	
	text-align:left;
}
.groupbox_srb {
	margin-left:25px;
	width: 400px;	
}
.groupbox_compOrder {
	margin-left:35px;
	width: 440px;	
}
.slegandText{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #333333;
}
.requiredLabel {
	color: #FF0000;
}
.percentageText {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
	color: #006699;
}
.label {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
}
.statusText {
	font-weight: bold;
	font-size: 13px;
	color: #FF0000;
}
.errorText {
	font-weight: bold;
	font-size: 13px;
	color: #FF0000;
}
.requiredLabel {
	color: #FF0000;
}
#stsDiv {
	padding-left:20px;
	padding-top:2px;
	padding-bottom:2px;
	background:#D8D8D8;
}


.logout {  float:right;font:13px arial,helvetica,clean,sans-serif;/* for IE6/7 */*font-size:small;/* for IE Quirks Mode */*font:x-small;}

#tdr_crumbs{display: inline;}
/* navigation reset */
#menu_nav, #menu_nav div, #menu_nav a, #menu_nav ul, #menu_nav li{margin: 0;padding: 0;}
#menu_nav li {list-style: none;}
/* navigation fonts */
#menu_nav {  font:13px arial,helvetica,clean,sans-serif;/* for IE6/7 */*font-size:small;/* for IE Quirks Mode */*font:x-small;}
/* navigation default layout */

#menu_nav {
   min-width:180px;
   text-align:center;
}

/* son of suckerfish: http://htmldog.com/articles/suckerfish/dropdowns/ */
#menu_nav ul {padding: 0;margin: 0;list-style: none;line-height: 1;}
#menu_nav ul a {display: block;}
#menu_nav ul li { /* all list items */float: left; /* width needed or else Opera goes nuts */}
#menu_nav ul li ul { /* second-level lists */position: absolute;left: -999em; /* Using left instead of display to hide menus because display: none isn't read by screen readers */}
#menu_nav ul li:hover ul, #menu_nav ul li.sfhover ul { /* lists nested under hovered list items */left: auto;}
/* non son of suckerfish */
#menu_nav {}
#menu_nav ul {position:relative;z-index:999;border-left:1px solid #B3CBDC; height: 20px;}
#menu_nav ul li {}
#menu_nav ul li ul {background:#f2f6f8;}
#menu_nav ul li span {display: block;cursor:default;}
#menu_nav ul li span {display: block;}

#menu_nav ul li a, #menu_nav ul li span
{
    background: #F0FAFF;
    background: rgba(255, 255, 255, 0.4);
    border-right: solid 1px #B3CBDC;
    border-left: solid 1px rgba(255, 255, 255, 0.6);
    /*  border-bottom: solid 1px #95AFC9;*/
    color: rgb(0, 75, 110);
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.9);
    padding: 0px 7px 1px 7px;
    height: 20px;
    white-space: nowrap;
    text-align: left;
    text-transform: none;
    font-size: 12px;
    cursor: pointer;
}

#menu_nav ul li.active a,#menu_nav ul li.active span
{
    background: #F0FAFF;
    background: rgba(255, 255, 255, 0.8);
    border-bottom: #D56A03 solid 3px;
}

#menu_nav ul li a:hover
{
    background: #fff;
}

#menu_nav ul li span:hover, #menu_nav ul li.sfhover span {
    background: #fff;
}

#menu_nav ul li:hover ul,#menu_nav ul li.sfhover ul {margin-left:-1px;height:auto;border:1px solid #adbcc5;border-bottom:0;} /* same as border-bottom on content */
#menu_nav ul li:hover ul li,#menu_nav ul li.sfhover ul li {display:inline;/* fixes ie6 3px bug */width:10em;float:none;padding-right:0;}
#menu_nav ul li:hover ul li a,#menu_nav ul li.sfhover ul li a {color:#0d4b73;background:#f2f6f8;border-right:0;border-bottom:1px solid #adbcc5;}

#menu_nav ul li:hover ul li a:hover,#menu_nav ul li.sfhover ul li a:hover
{
    background: #fff;
}
